body{
    font:14px/1.4 arial;
    color:gray;
}
th, td {
    padding: 20px;
    text-align: centered;
    border-bottom: 1px solid #ddd;
}
li a {
    float: left;
    padding: 14px 16px;
    color: black;
    text-decoration: none;
}

a: active {
    color: red;
}
